extend /app/base.pug
include /app/commons/form.mixins.pug

block main_content
  .row
    .col-md-6
      .card
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title Edit Data Penilaian #{item.nama}
        .card-body
          form(method='POST', enctype='multipart/form-data')
            each nilai in nilais
              +select_input(`krit_${nilai.kriteria.id}`, nilai.kriteria.nama, nilai.kriteria.subs, nilai.nilai)
            +submit_button('Simpan')