extends /app/base.pug

block main_content
  .row
    .col-md-12
      .card.strpied-tabled-with-hover
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title Data Penilaian
              p.card-category #{items.length} Data
        .card-body.table-full-width.table-responsive
          table.table.table-hover.table-striped
            thead
              tr
                th ID
                th Nama
                each kriteria in kriteria_items
                  th= kriteria.nama
                th
            tbody
              each item in items
                tr
                  td= item.id
                  td
                    a.text-dark.text-underline.border-bottom(href=`/app/karyawan/edit/${item.id}`)= item.nama
                  each nilai in item.nilais
                    td= nilai.nama
                  td
                    a.btn.btn-sm.btn-primary.mr-2(href=`/app/penilaian/edit/${item.id}`) Edit
