extends /app/base.pug

block main_content
  .row
    .col-md-8
      .card.strpied-tabled-with-hover
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title Data User
              p.card-category #{items.length} User
            a.btn.btn-primary(href='/app/user/tambah') Tambah
        .card-body.table-full-width.table-responsive
          table.table.table-hover.table-striped
            thead
              tr
                th ID
                th Nama
                th Username
                th
            tbody
              each item in items
                tr
                  td= item.id
                  td= item.nama
                  td= item.username
                  td
                    a.btn.btn-sm.btn-primary.mr-2(href=`/app/user/edit/${item.id}`) Edit
                    a.btn.btn-sm.btn-danger(href=`/app/user/delete/${item.id}`) Hapus


