extends /app/base.pug

block main_content
  .row
    .col-md-12
      .card.strpied-tabled-with-hover
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title= `Data Kriteria ${item.nama}`
              p.card-category= `${item.subs.length} Subkriteria`
            a.btn.btn-primary(href=`/app/kriteria/detail/${item.id}/subs/tambah`) Tambah
        .card-body.table-full-width.table-responsive
          table.table.table-hover.table-striped
            thead
              tr
                th ID
                th Nama
                th Bobot
                th
            tbody
              each sub in item.subs
                tr
                  td= sub.id
                  td= sub.nama
                  td= sub.bobot
                  td
                    td
                      a.btn.btn-sm.btn-primary.mr-2(href=`/app/kriteria/detail/${item.id}/subs/edit/${sub.id}`) Edit
                      a.btn.btn-sm.btn-danger(href=`/app/kriteria/detail/${item.id}/subs/edit/${sub.id}`) Hapus
