extend /app/base.pug
include /app/commons/form.mixins.pug

block main_content
  .row
    .col-md-6
      .card
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title Tambah Data Kriteria
        .card-body
          form(method='POST', enctype='multipart/form-data')
            +simple_text('nama', 'Nama', value= item.nama)
            +submit_button('Simpan')