extends /app/base.pug

block main_content
  .row
    .col-md-12
      .card.strpied-tabled-with-hover
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title Data Kriteria
              p.card-category= `${items.length} Kriteria`
            a.btn.btn-primary(href='/app/kriteria/tambah') Tambah
        .card-body.table-full-width.table-responsive
          table.table.table-hover.table-striped
            thead
              tr
                th ID
                th Nama
                th Jumlah Subkriteria
                th
            tbody
              each item in items
                tr
                  td= item.id
                  td= item.nama
                  td= item.subs.length
                  td
                    td
                      a.btn.btn-sm.btn-primary.mr-2(href=`/app/kriteria/detail/${item.id}/subs`) Subkriteria
                      a.btn.btn-sm.btn-primary.mr-2(href=`/app/kriteria/edit/${item.id}`) Edit
                      a.btn.btn-sm.btn-danger(href=`/app/kriteria/delete/${item.id}`) Hapus
