extends /app/base.pug
include /app/commons/form.mixins.pug

block main_content
  .row
    .col-md-6
      .card.strpied-tabled-with-hover
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title= `Edit subkriteria untuk ${item.kriteria.nama}`
        .card-body
          form(method='POST', enctype='multipart/form-data')
            +simple_text('nama', 'Nama', value=item.nama)
            +number_input('bobot', 'Bobot', value=item.bobot)
            +submit_button('Simpan')
