<footer class="footer">
  <div class="container-fluid">
      <nav>
          <p class="copyright text-center">
              ©
              <script>
                  document.write(new Date().getFullYear())
              </script>
              <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
          </p>
      </nav>
  </div>
</footer>