mixin simple_text(name, label, value='')
  .form-group
    label= label
    input.form-control(type='text', name=name, value=value)

mixin password_input(name, label, value='')
  .form-group
    label= label
    input.form-control(type='password', name=name, value=value)

mixin number_input(name, label, value=0, step=null, min=null, max=null)
  .form-group
    label= label
    input.form-control(
      type='number',
      name=name,
      value=(value !== null ? value : false),
      step=(step !== null ? step : false),
      min=(min !== null ? min : false),
      max=(max !== null ? max : false)
    )

mixin date_input(name, label, value=moment().format('YYYY-MM-DD'))
  .form-group
    label= label
    input.form-control(type='date', name=name, value=value)

mixin binary_input(name, label, _0_value, _0_label, _1_value, _1_label, value)
  .form-group
    label.lead= label

    .form-check
      input.form-check-input#defaultCheck1(type='radio', name=name, value=_0_value, checked= value == _0_value)
      label.form-check-label= _0_label

    .form-check
      input.form-check-input#defaultCheck1(type='radio', name=name, value=_1_value, checked= value == _0_value)
      label.form-check-label= _1_label

mixin select_input(name, label, options, value='')
  .form-group
    label= label
    select.form-control(name=name)
      each opt in options
        option(value=opt.value, selected= (value == opt.value)) #{opt.text}


mixin submit_button(label)
  .form-group
    button.btn.btn-primary(type="submit")= label