<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="/resources/app/assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="/resources/app/assets/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Light Bootstrap Dashboard - Free Bootstrap 4 Admin Dashboard by Creative Tim</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- CSS Files -->
<link href="/resources/app/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/resources/app/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
<link href="/resources/app/assets/css/custom.css" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="/resources/app/assets/css/demo.css" rel="stylesheet" />