<nav class="navbar navbar-expand-lg " color-on-scroll="500">
  <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="nav navbar-nav mr-auto">
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/logout">
                      <span class="no-icon">Log out</span>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</nav>