<div class="sidebar" data-image="/resources/app/assets/img/sidebar-5.jpg">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
  <div class="sidebar-wrapper">
      <div class="logo">
          <a href="http://www.creative-tim.com" class="simple-text">
              Regna
          </a>
      </div>
      <ul class="nav">
          <li>
              <a class="nav-link" href="/app/karyawan/list">
                  <i class="nc-icon nc-circle-09"></i>
                  <p>Biodata</p>
              </a>
          </li>
          <li>
              <a class="nav-link" href="/app/penilaian/list">
                  <i class="nc-icon nc-circle-09"></i>
                  <p>Penilaian</p>
              </a>
          </li>
          <li>
              <a class="nav-link" href="/app/kriteria/list">
                  <i class="nc-icon nc-notes"></i>
                  <p>Kriteria</p>
              </a>
          </li>
          <li>
              <a class="nav-link" href="/app/user/list">
                  <i class="nc-icon nc-paper-2"></i>
                  <p>User</p>
              </a>
          </li>
          <li>
              <a class="nav-link" href="/app/rank">
                  <i class="nc-icon nc-atom"></i>
                  <p>Perangkingan</p>
              </a>
          </li>
          <li class="nav-item active active-pro">
              <a class="nav-link active" href="upgrade.html">
                  <i class="nc-icon nc-alien-33"></i>
                  <p>Upgrade to PRO</p>
              </a>
          </li>
      </ul>
  </div>
</div>