meta(charset='utf-8')
title Regna
meta(content='width=device-width,initial-scale=1' name='viewport')
meta(content name='keywords')
meta(content name='description')
//  Favicons 
link(href='/resources/landing/img/favicon.png' rel='icon')
link(href='/resources/landing/img/apple-touch-icon.png' rel='apple-touch-icon')
//  Google Fonts 
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700' rel='stylesheet')
//  Bootstrap CSS File 
link(href='/resources/landing/lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
//  Libraries CSS Files 
link(href='/resources/landing/lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
link(href='/resources/landing/lib/animate/animate.min.css' rel='stylesheet')
//  Main Stylesheet File 
link(href='/resources/landing/css/style.css' rel='stylesheet')
//
   =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= 
//
  ==========================
    Header
    ============================
header#header
  .container
    #logo.pull-left
      a(href='#hero')
        img(src='/resources/landing/img/logo.png' alt)
      //  Uncomment below if you prefer to use a text logo 
      // <h1><a href="#hero">Regna</a></h1>
    nav#nav-menu-container
      ul.nav-menu
        li.menu-active
          a(href='/') Home
        li
          a(href='/app') Login
section#hero
  .hero-container
    h1 Regna
    h2 Pemiihan Karyawan Berprestasi
    a.btn-get-started(href='/app') Login
//  #hero 
main#main
  //
    ==========================
          About Us Section
        ============================
  section#about
    .container
      .row.about-container
        .col-lg-6.content.order-lg-1.order-2
          h2.title Few Words About Us
          p.
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            
          .icon-box.wow.fadeInUp
            .icon
              i.fa.fa-shopping-bag
            h4.title
              a(href) Eiusmod Tempor
            p.description Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
          .icon-box.wow.fadeInUp(data-wow-delay='0.2s')
            .icon
              i.fa.fa-photo
            h4.title
              a(href) Magni Dolores
            p.description Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          .icon-box.wow.fadeInUp(data-wow-delay='0.4s')
            .icon
              i.fa.fa-bar-chart
            h4.title
              a(href) Dolor Sitema
            p.description Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
        .col-lg-6.background.order-lg-2.order-1.wow.fadeInRight
  section#team
    .container.wow.fadeInUp
      .section-header
        h3.section-title Team
        p.section-description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
      .row
        .col-lg-3.col-md-6
          .member
            .pic
              img(src='/resources/landing/img/team-1.jpg' alt)
            h4 Walter White
            span Chief Executive Officer
            .social
              a(href)
                i.fa.fa-twitter
              a(href)
                i.fa.fa-facebook
              a(href)
                i.fa.fa-google-plus
              a(href)
                i.fa.fa-linkedin
        .col-lg-3.col-md-6
          .member
            .pic
              img(src='/resources/landing/img/team-2.jpg' alt)
            h4 Sarah Jhinson
            span Product Manager
            .social
              a(href)
                i.fa.fa-twitter
              a(href)
                i.fa.fa-facebook
              a(href)
                i.fa.fa-google-plus
              a(href)
                i.fa.fa-linkedin
        .col-lg-3.col-md-6
          .member
            .pic
              img(src='/resources/landing/img/team-3.jpg' alt)
            h4 William Anderson
            span CTO
            .social
              a(href)
                i.fa.fa-twitter
              a(href)
                i.fa.fa-facebook
              a(href)
                i.fa.fa-google-plus
              a(href)
                i.fa.fa-linkedin
        .col-lg-3.col-md-6
          .member
            .pic
              img(src='img/team-4.jpg' alt)
            h4 Amanda Jepson
            span Accountant
            .social
              a(href)
                i.fa.fa-twitter
              a(href)
                i.fa.fa-facebook
              a(href)
                i.fa.fa-google-plus
              a(href)
                i.fa.fa-linkedin
footer#footer
  .footer-top
    .container.
      
      
  .container
    .copyright © Copyright Regna All Rights Reserved
    .credits Designed by a(href='https://bootstrapmade.com/') BootstrapMade
//  #footer 
a.back-to-top(href='#')
  i.fa.fa-chevron-up
//  JavaScript Libraries 
script(src='/resources/landing/lib/jquery/jquery.min.js')
script(src='/resources/landing/lib/jquery/jquery-migrate.min.js')
script(src='/resources/landing/lib/bootstrap/js/bootstrap.bundle.min.js')
script(src='/resources/landing/lib/easing/easing.min.js')
script(src='/resources/landing/lib/wow/wow.min.js')
script(src='/resources/landing/lib/waypoints/waypoints.min.js')
script(src='/resources/landing/lib/counterup/counterup.min.js')
script(src='/resources/landing/lib/superfish/hoverIntent.js')
script(src='/resources/landing/lib/superfish/superfish.min.js')
//  Contact Form JavaScript File 
script(src='/resources/landing/contactform/contactform.js')
//  Template Main Javascript File 
script(src='/resources/landing/js/main.js')