meta(charset='utf-8')
title Regna
meta(content='width=device-width,initial-scale=1' name='viewport')
meta(content name='keywords')
meta(content name='description')
//  Favicons 
link(href='/resources/landing/img/favicon.png' rel='icon')
link(href='/resources/landing/img/apple-touch-icon.png' rel='apple-touch-icon')
//  Google Fonts 
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700' rel='stylesheet')
//  Bootstrap CSS File 
link(href='/resources/landing/lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
//  Libraries CSS Files 
link(href='/resources/landing/lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
link(href='/resources/landing/lib/animate/animate.min.css' rel='stylesheet')
//  Main Stylesheet File 
link(href='/resources/landing/css/style.css' rel='stylesheet')
//
   =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= 
//
  ==========================
    Header
    ============================
header#header
  .container
    #logo.pull-left
      a(href='#hero')
        img(src='/resources/landing/img/logo.png' alt)
      //  Uncomment below if you prefer to use a text logo 
      // <h1><a href="#hero">Regna</a></h1>
    nav#nav-menu-container
      ul.nav-menu
        li.menu-active
          a(href='/') Home
        li
          a(href='/app') Login
section#hero
  .hero-container
    h1 Regna
    h2 Pemiihan Karyawan Berprestasi
    form(method="POST", enctype="multipart/form-data")
      .form-group
        input.form-control(type='text', placeholder="username", name="username")
      .form-group
        input.form-control(type='password', placeholder="password", name="password")
      button.btn.btn-primary.btn-lg(type="submit") Login
//  #hero 
footer#footer
  .footer-top
    .container.
      
      
  .container
    .copyright © Copyright Regna All Rights Reserved
    .credits Designed by a(href='https://bootstrapmade.com/') BootstrapMade
//  #footer 
a.back-to-top(href='#')
  i.fa.fa-chevron-up
//  JavaScript Libraries 
script(src='/resources/landing/lib/jquery/jquery.min.js')
script(src='/resources/landing/lib/jquery/jquery-migrate.min.js')
script(src='/resources/landing/lib/bootstrap/js/bootstrap.bundle.min.js')
script(src='/resources/landing/lib/easing/easing.min.js')
script(src='/resources/landing/lib/wow/wow.min.js')
script(src='/resources/landing/lib/waypoints/waypoints.min.js')
script(src='/resources/landing/lib/counterup/counterup.min.js')
script(src='/resources/landing/lib/superfish/hoverIntent.js')
script(src='/resources/landing/lib/superfish/superfish.min.js')
//  Contact Form JavaScript File 
script(src='/resources/landing/contactform/contactform.js')
//  Template Main Javascript File 
script(src='/resources/landing/js/main.js')