<!DOCTYPE html>
<html lang="en">

head
  block head_content
    include /app/commons/head.snippet.html

body
  .wrapper

    include /app/commons/sidebar.snippet.html

    .main-panel
      include /app/commons/navbar.snippet.html
      .content
        block main_content
      include /app/commons/footer.snippet.html

  block scripts_content
    include /app/commons/scripts.snippet.html
</html>