extend /app/base.pug
include /app/commons/form.mixins.pug

block main_content
  .row(id='rank-form')
    .col-md-6
      .card
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title Form Perangkingan
        .card-body
          form(method='POST', enctype='multipart/form-data')
            each krit in kriteria_items
              +number_input(`krit_${krit.id}`, krit.nama, 1, 0.01, 0, 1)
            +submit_button('Jalankan')
