extends /app/base.pug

block main_content
  .row
    .col-md-12
      .card.strpied-tabled-with-hover
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title Perangkingan Karyawan
              p.card-category #{items.length} Karyawan
        .card-body.table-full-width.table-responsive
          table.table.table-hover.table-striped
            thead
              tr
                th Nama
                th Leave
                th Enter
                th Net
            tbody
              each item in items
                tr
                  td
                    a.text-dark.text-underline.border-bottom(href=`/app/karyawan/edit/${item.karyawan.id}`) #{item.karyawan.nama}
                  td #{item.result.leave.toFixed(3)}
                  td= item.result.enter.toFixed(3)
                  td= item.result.net.toFixed(3)
