extend /app/base.pug
include /app/commons/form.mixins.pug

block main_content
  .row
    .col-md-6
      .card
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title Edit Data Karyawan
        .card-body
          form(method='POST', enctype='multipart/form-data')
            +simple_text('nama', 'Nama Karyawan', item.nama)
            +date_input('tanggalLahir', 'Tanggal Lahir', moment(item.tanggalLahir).format('YYYY-MM-DD'))
            +simple_text('tempatLahir', 'Tempat Lahir', item.tempatLahir)
            +binary_input('jenisKelamin', 'Jenis Kelamin', 'LAKI_LAKI', 'Laki - Laki', 'PEREMPUAN', 'Perempuan', item.jenisKelamin)
            +submit_button('Submit')