extends /app/base.pug

block main_content
  .row
    .col-md-12
      .card.strpied-tabled-with-hover
        .card-header
          div.d-flex.p-4.flex-row.justify-content-between.align-items-center
            div
              h4.card-title Data Karyawan
              p.card-category 120 Karyawan
            a.btn.btn-primary(href='/app/karyawan/tambah') Tambah
        .card-body.table-full-width.table-responsive
          table.table.table-hover.table-striped
            thead
              tr
                th ID
                th Nama
                th Umur
                th Sex
                th
            tbody
              each item in items
                tr
                  td= item.id
                  td= item.nama
                  td= moment().diff(item.tanggalLahir, 'years', false) + ' tahun, ' + moment(item.tanggalLahir).format("MMM Do YYYY")
                  td= formatSex(item.jenisKelamin)
                  td
                    - var hasNilai = item.dataPenilaian && true;
                    - var nilaiUrl = hasNilai ? `/app/karyawan/detail/${item.id}/nilai/edit` : `/app/karyawan/detail/${item.id}/nilai/tambah`;
                    a.btn.btn-sm.btn-primary.mr-2(href=nilaiUrl) Nilai
                    a.btn.btn-sm.btn-primary.mr-2(href=`/app/karyawan/edit/${item.id}`) Edit
                    a.btn.btn-sm.btn-danger(href=`/app/karyawan/delete/${item.id}`) Hapus
